@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
:root{
    --main-bg-color: #ECEFF4;
    --dark-bg-color: #2E3440;
    --book-read-color: #8FBCBB;
    --book-unread-color: #D08770;
    --book-submit-color: #A3BE8C;
    --book-delete-color: #BF616A;
    --form-box-color: #D8DEE9;
    --box-shadow-color: #4C566A; /* 50% opacity */

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    color: var(--dark-bg-color);
}
header{
    text-align: center;

}
h1{
    font-weight: 300;
    font-size: 2.5rem;
}
header,footer{
    height: 10%;
    display: grid;
    align-items: center;
}
.main-wrapper{
    height: 100vh;
}
.body-wrapper{
    background-color: var(--main-bg-color);
    height: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.list-wrapper{
    height: 43.75rem;
    width: 40.75rem;
    background-color: white;
    border-radius: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 13fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.list-header, .book-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34.625rem;
    gap: 1rem;
    text-align: center;

}
.list-header>p{
    width: 25%;
    
}
.right-border{
    border-right: var(--dark-bg-color) solid 2px;
}
.left-border{
    border-left: var(--dark-bg-color) solid 2px;
}
.blank{
    width: 2rem;
    height: 2rem;
}
#list-content-wrapper{
    background-color: var(--dark-bg-color);
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    grid-auto-rows: 4rem;

}
.submit-area{
    background-color: var(--dark-bg-color);
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
}
.list-submit-wrapper{
    background-color: white;
    align-self: end;
    height: 4rem;
    width: 34.625rem;
    border-radius: 1rem;
    align-self: end;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#book-title,#book-author,#book-pages{
    height: 2rem;
    width: 25%;
    border-radius: .5rem;
    border: none;
    background-color: var(--form-box-color);
}

#submit-button{
    background-color: var(--book-submit-color);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
}
#submit-button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.book-card{
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;


}
.book-content-wrapper{
    height: 2rem;
    border-radius: .5rem;
    width: 500px;
    background-color: var(--book-read-color);
}
.content{
    color: white;
    font-weight: 100;
    height: 2rem;
    width: 33%;
    padding-top: 5px;
    border-radius: .5rem;
    


}
.book-button-wrapper{
    width: 4rem;
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.unread, .read, .delete{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
}
.unread:active, .read:active, .delete:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.unread{
    background-color: var(--book-unread-color);
}
.read{
    background-color: var(--book-read-color);
}
.delete{
    background-color: var(--book-delete-color);
}
.unread-book{
    background-color: var(--book-unread-color);
}
.read-book{
    background-color: var(--book-read-color);
}
.border-left-white{
    border-left: white solid 2px;
}
.border-right-white{
    border-right: white solid 2px;
}
